body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif
}

.w3-row-padding img {
    margin-bottom: 12px
}

.slideshow,
.slideshow3D {
    display: none;
    height: 400px;
    margin: auto;
    border-radius: 2px;
    border: 1px solid white;
    position: relative;
}

.slideshow img,
video {
    width: 100%;
    height: 100%;
    object-fit: contain;
}